<div id="wrapper">
  <div id="shopping-list">
    <div id="list">
      <h2>Movie List</h2>
      <table>
        <thead>
          <tr>
            <th>TITLE</th>
            <th>RATE</th>
            <th>#</th>
          </tr>
        </thead>
        <tr *ngFor="let movie of movieItems | async | sortBy: 'desc':'rate'">
          <td>
            {{ movie.title }}
          </td>
          <td>
            <span id="rate">
              {{ movie.rate }}
            </span>
          </td>
          <td>
            <button (click)="removeItem(movie.id)">REMOVE</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <form (ngSubmit)="addItem()">
    <input type="text" [(ngModel)]="newMovieItem.title" placeholder="Add a movie here" name="itemTitle" />
    <input type="number" [(ngModel)]="newMovieItem.rate" placeholder="Rate it" name="itemRate" />
    <button type="submit">ADD</button>
  </form>
</div>
